/* paleta colores */
$ColorPrimary : #21325E;
$ColorSecond  : #142142;
$ColorThird   : #F1D00A;
$ColorFourth  : #ffffff;
$ColorFive    : #00ADB5;
$ColorFont    : #222831;
$ColorError   : #ff1313;

/* font-size */
$FontSize : 16px;